@model Pharmacy.ViewModels.Produits

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Title {
    <title>Ajouter un Produit</title>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center my-4">Ajouter Produit</h1>

            <div class="card p-4 my-3">
                <form asp-action="AjouterProduit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Libelle" class="control-label">Libelle</label>
                        <input asp-for="Libelle" class="form-control" />
                        <span asp-validation-for="Libelle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Create" class="btn bg-royal-blue text-white" />
                    </div>
                </form>
            </div>

            <div class="text-center mt-3">
                <a asp-action="Index" class="btn bg-light-green">Back to List</a>
            </div>
        </div>
    </div>
</div>
