@model Pharmacy.ViewModels.Produits

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Title {
    <title>Ajouter un Produit</title>
}
<div class="container">
    <div class="contact-form bg-gray">
        <h3 class="title-text text-center mb-60">Entrer en contact</h3>
        <form asp-action="AjouterProduit" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-item">
                        <div class="form-group">
                            <label asp-for="Libelle" class="control-label">Libelle</label>
                            <input asp-for="Libelle" class="form-control" placeholder="Libelle" />
                            <span asp-validation-for="Libelle" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-item">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Prix</label>
                            <input asp-for="Price" class="form-control" placeholder="Prix" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Une brève description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" class="btn bg-royal-blue text-white btn-block">Créer</button>
                </div>
                <div class="col-lg-6">
                    <a asp-action="Index" class="btn bg-light-green btn-block">Retourner à la liste</a>
                </div>
            </div>
        </form>
    </div>
</div>

<br />